/* All components */

.btn {
  position: relative;
  padding: 10px 70px 10px 70px;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.btn span {
  position: relative;
  pointer-events: none;
}

.btn::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

.btn:hover::before {
  --size: 400px;
}

ul, li {
  list-style: none;
  padding: 0px;
}

/* li::before {
  content: '\f105';
  font-family: FontAwesome;
  display: inline-block;
} */

/* [class*="btn-"] {
  outline:0;
  border-radius: 50px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  padding: 2em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after, &::before {
    content: "";
    position: absolute;
  }
  &:hover, &:focus {
    background: rgba(255, 255, 255, 0.8);
  }
}

[class*="btn-mix"] {
  &::after {
    background: #222;
    border-radius: 120px;
    content: attr(data-text);
    color: #fff;
    padding: 1.6em 2.5em;
    top: 0.4em;
    left: 0.5em;
    -moz-user-select: none;
    user-select: none;
    user-drag: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5),
                4em 0em 2em 2em rgba(155, 50, 0, 0.6),
                -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
                -4em 2em 2em 4em rgba(0, 0, 150, 0.5),
                0 -3em 2em 3em rgba(120, 250, 0, 0.5),
                2em -1em 2em 2em rgba(50, 10, 200, 0.5);
    width: 0;
    height: 0;
    animation: mix 5s linear infinite;
  }
}

@keyframes mix {

  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
                4em -1em 2em 3em rgba(255, 50, 0, 0.8),
                -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
                -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
                0 3em 2em 2em rgba(20, 250, 0, 0.5),
                2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }

  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
                3em 1em 2em 3em rgba(25, 150, 0, 0.6),
                3em -2em 3em 3em rgba(155, 200, 0, 0.5),
                -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
                0 -3em 2em 3em rgba(200, 250, 0, 0.5),
                -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }

}

.btn-mix-noborder {
  &::after {
    background: transparent !important;
    color: #222 !important;
  }
} */

/* pricing & perks */

#pricing, #perks {
  color: white;
  text-align: left;
}

#pricing > h1, #perks > h1 {
  margin-left: 1.7em;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}

#pricing > .row > .col, #perks > .row > .col {
  font-size: 30px;
}

#pricing > .row > .col > h3, #perks > .row > .col > h3 {
  font-size: 35px;
}

#pricing > .row > .col > p, #perks > .row > .col > p {
  color: #1a1a1a;
}
