/* pricing */

#pricing > .row > .col {
  margin-left: 3em;
}

#pricing > p {
  margin-left: 2.2em;
  font-size: 40px;
}

.btn {
  position: relative;
  padding: 10px 70px 10px 70px;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.btn span {
  position: relative;
  pointer-events: none;
}

.btn::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

.btn:hover::before {
  --size: 400px;
}

ul, li {
  list-style: none;
  padding: 0px;
}

/* li::before {
  content: '\f105';
  font-family: FontAwesome;
  display: inline-block;
} */

#pricing > .row > .col > h1 {
  font-size: 100px;
}

#pricing > .row > .col:first-child > h3, #pricing > .row > .col:first-child > h1 {
  color: #ff3333;
}

#pricing > .row > .col:nth-child(2) > h3, #pricing > .row > .col:nth-child(2) > h1 {
  color: #ffcc66;
}

#pricing > .row > .col:last-child > h3, #pricing > .row > .col:last-child > h1 {
  color: #00cccc;
}

/* pricing & perks */

#pricing, #perks {
  color: white;
  text-align: left;
}

#pricing > h1, #perks > h1 {
  margin-left: 1.7em;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}

#pricing > .row > .col, #perks > .row > .col {
  font-size: 30px;
}

#pricing > .row > .col > h3, #perks > .row > .col > h3 {
  font-size: 35px;
}

#pricing > .row > .col > p, #perks > .row > .col > p {
  color: #1a1a1a;
}

/* perks */

#perks {
  height: 60vh;
}

#perks > .row > .col > p {
  margin-left: 2.9em;
}

#perks > .row > .col > p:first-of-type {
  color: white;
}

#perks > .row > .col > h3 {
  margin-left: 2.4em;
}

#perkstry {
  margin-left: 5.4em;
}

/* payment */

#payment {
  color: white;
  width: 98vw;
  height: 60vh;
}

#payment > p:first-of-type {
  font-size: 30px;
  margin-right: 30em;
}

#payment > p:last-of-type {
  font-size: 20px;
  margin-left: 1.2em;
}

#payment > h1:last-of-type {
  margin-top: 4em;
}

#payment > .row {
  margin-left: 40em;
}

#payment > .row > .col-2 > div > input:focus {
  background-color: #cc99ff;
}
