/* pricing */

#pricing {
  color: white;
  text-align: left;
}

#pricing > h1 {
  margin-left: 1.7em;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}

#pricing > .row > .col {
  margin-left: 3em;
}

#pricing > p {
  margin-left: 2.2em;
  font-size: 40px;
}

.btn {
  padding: 10px 70px 10px 70px;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.btn::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

.btn:hover::before {
  --size: 400px;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  padding-left: 1.3em;
}

li::before {
  content: "\f8cf";
  font-family: FontAwesome;
  display: inline-block;
}

#pricing > .row > .col {
  font-size: 30px;
}

#pricing > .row > .col > h1 {
  font-size: 100px;
}

#pricing > .row > .col > h3 {
  font-size: 35px;
}

#pricing > .row > .col:first-child > h3, #pricing > .row > .col:first-child > h1 {
  color: #ff3333;
}

#pricing > .row > .col:nth-child(2) > h3, #pricing > .row > .col:nth-child(2) > h1 {
  color: #ffcc66;
}

#pricing > .row > .col:last-child > h3, #pricing > .row > .col:last-child > h1 {
  color: #00cccc;
}

/* payment */

#payment {
  color: white;
  width: 98vw;
  height: 60vh;
}

#payment > p {
  font-size: 40px;
  float: left;
  margin-left: 3em;
}

#payment > h1:last-child {
  margin-top: 50em;
}

#payment > .row {
  margin-left: 40em;
}

#payment > .row > .col-2 > div > input:focus {
  background-color: #cc99ff;
}
